*.asv
*.jpg
*.jpeg
*.m~
*.fig
*Borrar*
curv.mat
Create_Modality_HTML_custom_ITNEEDSTOBEFINISHED.m
untitled4*
showc*
*.swp
Untitl*
Python*
FigPaper
fontconfig
Look_Resuls_ITNEEDSTOBEFINISHED.m
matlab.mat
matlab_single.mat
matlab_test1.mat
matlab_test2.mat
matlab_test_Results.mat
matlab_toplay.mat
Multi_Global_Sulci_Processing1.m
Process_Single_Sulci_FOR.m
Process_Single_Sulci_FOR_Test.m
resmatlab.mat
testboolean.mat
test_BOTTOM_TOP_LINES.m
test_BOTTOM_TOP_LINES.m~
test_BOTTOM_TOP_LINES_V2.m
test_BOTTOM_TOP_LINES_V2.m~
Testing_Hull_Sulci_Interception.m~



